.menu {
  margin: 1rem;
  padding: 4px;
}

.dot,
.square,
.rect {
  background-color: #424242;
  margin-bottom: 4px;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.square {
  width: 1rem;
  height: 1rem;
}

.rect {
  width: 2.5rem;
  height: 0.5rem;
}

.dot:hover,
.square:hover,
.rect:hover {
  background-color: rgba(68, 240, 76, 0.4);
  cursor: pointer;
}

.dot:last-child,
.square:last-child,
.rect:last-child {
  margin-bottom: 0;
}
