.title {
  font-weight: bold;
  font-size: 20px;
}

.coverpage {
  width: 256px;
  height: 400px;
}

figure {
  margin: 2px;
}

button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #ff9900;
  border-radius: 25px;
  font-weight: bold;
}
button:hover {
  background-color: #ff9900;
  color: white;
  font-weight: bold;
}

.container-top {
  --offset: 100px;
  --fade: 120px;

  display: flex;
  width: 60px;
  justify-self: end;
  justify-content: flex-end;
  align-items: flex-end;
  -webkit-mask: linear-gradient(
    #0000 calc(100vh + var(--offset)),
    #000 calc(100vh + var(--offset) + var(--fade))
  );
}

.top {
  position: sticky;
  bottom: 20px;
  margin-right: 10px;

  /* visual styling */
  width: 100%;
  aspect-ratio: 1;
  background: #ff8b24;
  border-radius: 10px;
}
.top:before {
  content: "";
  position: absolute;
  inset: 30%;
  transform: translateY(20%) rotate(-45deg);
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
}
