.title {
  font-weight: bold;
  font-size: 20px;
}

.coverpage {
  width: 256px;
  height: 400px;
}

figure {
  margin: 2px;
}

button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #ff9900;
  border-radius: 25px;
  font-weight: bold;
}
button:hover {
  background-color: #ff9900;
  color: white;
  font-weight: bold;
}

.top {
  --offset: 50px;

  position: sticky;
  bottom: 20px;
  margin-right: 10px;
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  left: 100%;

  /* visual styling */
  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: #fff;
  background: #000;
  border-radius: 100px;
  white-space: nowrap;
}
