body {
  background-color: snow;
  font-family: "IBM Plex Sans", sans-serif;
}

.profile-img {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

h3 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1em;
}

.main-heading {
  color: indigo;
  font-size: 2.5rem;
}
.main-subtitle {
  color: gray;
  font-size: 1.25rem;
}
.team-member {
  width: 256rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}

.team-member:hover {
  border: 1px solid #414141;
}

.team-member p {
  opacity: 0.8;
}
#anna {
  background-color: darkcyan;
  color: beige;
}
#anna h2,
#anna h3 {
  color: honeydew;
}
#harry {
  background-color: cornsilk;
}
#harry h2,
#harry h3 {
  color: darkslategray;
}
#sofia {
  background-color: dodgerblue;
  color: lightcyan;
}
#sofia h2,
#sofia h3 {
  color: navy;
}
